@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: InterFont;
  src: url(./assets/fonts/Inter-Regular.ttf);
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



#root {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: InterFont;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
